@using Project_Management2.BAL;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Project Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/logo.jpg" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    @*   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" /> *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="~/js/CurrentDateTime.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    @*     <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script> *@
    @*    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" /> *@

    @*     <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> *@


    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    @*     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@
    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.jpg" alt="">
                <span class="d-none d-lg-block">Project Management</span>

            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- Current Time with Timer Icon -->
                <li class="nav-item align-self-center me-3">
                    <i class="fa fa-clock-o" aria-hidden="true" style="color:black; margin-right: 5px;"></i>
                    <span id="current-time" style="color:black; font-weight:800; font-family:'Times New Roman', Times, serif; font-size: 18px;">00:00:00 AM</span>
                </li>

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        @*  <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> *@
                        <span class="d-none d-md-block dropdown-toggle ps-2">@CV.Username()</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            @* <h6>Kevin Anderson</h6> *@
                            <span>@CV.Username()</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="AdminLogin" asp-controller="Login" asp-action="Logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>



        </nav><!-- End Icons Navigation -->

    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Table-nav" data-bs-toggle="collapse">
                    <i class="bi bi-person-add"></i>
                    <span>Add Employees</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Table-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Employee" asp-controller="Employee" asp-action="EmployeeList">
                            <i class="bi bi-circle"></i><span>Total Employee List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Employee" asp-controller="Employee" asp-action="TaskAssignEmployeeList">
                            <i class="bi bi-circle"></i><span>Task Assign Employee List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Employee" asp-controller="Employee" asp-action="TaskNotAssignEmployeeList">
                            <i class="bi bi-circle"></i><span>Task Not Assign Employee List</span>
                        </a>
                    </li>
                </ul>
            </li>
            </li> 
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Table-nav1" data-bs-toggle="collapse">
                    <i class="bi bi-file-earmark-plus"></i>
                    <span>Add Projects</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Table-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Project" asp-controller="Project" asp-action="ProjectList">
                            <i class="bi bi-circle"></i><span>Total Project List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Project" asp-controller="Project" asp-action="ProjectUpcomingList">
                            <i class="bi bi-circle"></i><span>Total Upcoming Project List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Project" asp-controller="Project" asp-action="ProjectCurrentList">
                            <i class="bi bi-circle"></i><span>Total Current Project List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Project" asp-controller="Project" asp-action="ProjectCompleteList">
                            <i class="bi bi-circle"></i><span>Total Complete Project List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="ProjectWiseTask" asp-controller="ProjectWiseTask" asp-action="ProjectWiseTaskList">
                    <i class="bi bi-file-earmark-plus"></i>
                    <span>Add ProjectsWiseTask</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="TaskAssign" asp-controller="TaskAssign" asp-action="TaskAssignList">
                    <i class="bi bi-plus-circle"></i>
                    <span>Add TaskAssign</span>
                </a>
            </li>

            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="profile">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="Faq">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="contact">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                </a>
            </li><!-- End Contact Page Nav -->

        </ul>
    </aside>

    <!-- End Sidebar-->



    <div>
        <main id="main" class="main">
            <section class="section dashboard">
                @RenderBody()
            </section>
        </main>
    </div>


    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="border-top footer">
        <div class="copyright">
            &copy; Copyright <strong><span>2024 - Project Management</span></strong>.
        </div>

        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            @* esigned by <a href="https://bootstrapmade.com/">BootstrapMade</a> *@
            All Rights Reserved <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Template Main JS File -->
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
